html {
    font-family: Gill Sans, Calibri, sans-serif;
    margin:0;
    padding:0; 
} 

body {
    background-color:#76FFDB;
}

.header {
    background-color: #F3F2ED;
}

h1 {
    font-family: Rockwell, "Times New Roman", monospace; 
    font-weight: bold; 
    font-size: 3rem;
    text-transform: uppercase;
    margin:1.5rem;
    line-height: 2.75rem;
    color: #62007C; 
}

a {
    padding:5px; 
    text-decoration:none; 
    color:#000000;
}

h2 {
    font-family: Rockwell, "Times New Roman", monospace;
    font-size: 1.2rem;  
    font-weight: 100; 
    line-height: 1.5rem;
    margin:  1.5rem;
}

.img1 {
    width:7rem;
    margin: 9px;
}

.img2 {
    width:180px;
    border: 10px solid yellow;
    margin: 9px;
    float: center; 
}

.img3 {
    width:180px;
    border: 10px solid yellow;
    margin: 2rem;
    float: right; 
}

p {
    font-size: 1rem;
    font-weight: 200;
    margin: 0 10px 10px;
}

p + em {
    font-style: italic;
} 

p, li {
    font-size: 1rem; 
    line-height: 1.5rem;
    list-style-type: circle; 
    list-style-position: inside;
}

li {
    text-align: left;
} 

strong {
    font-size: 1rem; 
}

li strong {
    color: #B2007C;
    font-weight: 600;
}

em {
    font-style: italic;
}

li {
    color: #004;
}

.contact {
    font-family: rockwell, monospace;
    font-size: 1rem;
    background-color: #FFF;
}
    
.bottom {
    font-size: .75rem; 
    background-color: #CCC; 
    color: #FFF; 
    text-align: right; 
}